.video_overlays {
    position: absolute;
    top: 0px;
    left: 15px;
    right: 15px;
/*    background-color: lightgray;
*/}

.container-overlay {

}

.store-product-additional-container {
    margin-top: 30px;
}

@media (max-width: 576px) {
    .store-product-additional-container {
        display: none !important;
    }
}

@media (min-width: 576px) {
    .product-button-mobile {
        display: none !important;
    }
}

.reviews-title {
    font-size: 30px;
    margin-bottom: 15px;
}

.store-review {
    margin-top: 20px !important;
}

.review-button {
    text-align: right;
}

.review-star {
    color: #ffbd00;
    font-size: 20px;
}

.review-date {
    margin-left: 10px;
}

.review-name {
    font-weight: bold;
}
